/* Общее */

@font-face {
    font-family: 'TTNorms';
    src: url(./fonts/TTNorms-Regular.ttf);
}

* {
    margin: 0;
    font-family: 'TTNorms';
    color: black;
}

.background {
    background-color: #F2F3F5;
}

@media (min-width: 1024px) {
    .container {
        margin-top: 0px;
        max-width: 1167px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
    }
    
    /* слой 1 */
    .layoutTop {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        height: 50px;
    }
    
    .time {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }
    
    .time img {
        max-height: 20px;
    }
    
    .time_txt {
        line-height: 20px;
    }
    
    
    
    .navigat {
        display: flex;
        flex-direction: row;
        align-items: center;
        line-height: 20px;
        gap: 15px;
    }
    
    a.refer {
        /* font-family: 'Inter'; */
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 20px;
        text-decoration: none;
        color: #505567 !important;
    }
    
    .w_dropdown {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: 0px;
    }
    
    .rightMenu {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 25px;
    }
    
    .contacts,
    .basket {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15px;
        line-height: 20px;
        max-height: 20px;
    }
    
    .basket p {
        cursor: pointer;
    }
    
    .contacts a,
    .basket a {
        max-height: 20px;
    }
    
    /* Слой 2 */
    
    nav.layoutMiddle {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        height: 80px;
    }
    
    .name,
    .search,
    .phone,
    .cardMenu,
    .number,
    .cart {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        line-height: 20px;
    }
    
    .title {
        margin-left: 20px;
        max-width: 124px;
    }
    
    .search {
        width: 375px;
        height: 44px;
        border: solid #D0D2D7 1px;
        border-radius: 60px;
    
        display: flex;
        align-items: center;
        justify-content: space-between;
    
        cursor: text;
    }
    
    .search p {
        margin-left: 20px;
        color: #7D818E;
    }
    
    .search img {
        margin-right: 20px;
        cursor: pointer;
    }
    
    .phone img.phonePic {
        margin-right: 15px;
        cursor: pointer;
    }
    
    .number {
        line-height: 22px;
        color: #222A46;
        font-weight: bold;
    }
    
    p.askCall {
        color: #E2195B;
        line-height: 20px;
        text-decoration: underline;
        cursor: pointer;
    }
    
    .cart {
        margin-right: 14px;
        margin-left: 20px;
    }
    
    .cartIcon {
        display: flex;
        align-items: center;
        position: relative;
        cursor: pointer;
    }
    
    
    .cartIcon img:last-child {
        position: absolute;
        top: -7px;
        right: -17px;
    }
    
    .cardMenu p {
        color: #E2195B;
        line-height: 22px;
        font-weight: bold;
    }
    .cardMenu img {
        cursor: pointer;
    }
    
    
    /* Слой 3 */
    .background_shadow {
        -webkit-box-shadow: 0px 9px 31px -5px rgba(34, 60, 80, 0.28);
        -moz-box-shadow: 0px 9px 31px -5px rgba(34, 60, 80, 0.28);
        box-shadow: 0px 9px 31px -5px rgba(34, 60, 80, 0.28);
    }
    
    nav.layoutBottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        height: 60px;
        gap: 41px;
    }
    
    .layoutBottom a{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 3px;
    }
    
    a.refer_bottom {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        font-size: 16px;
        line-height: 22px;
        text-decoration: none;
        font-weight: bold;
    }
    
    a.refer_bottom:first-child {
        text-transform: uppercase;
        color: #E2195B;
        margin-left: 10px;
    }
    
    a.refer_bottom:first-child::before {
        content: url(./imgs/layout_3/discount.svg);
        position: relative;
        left: -10px;
        top: 3px;
    }
    
    a.refer_bottom:nth-child(n+2):nth-child(-n+7)::after {
        content: url(./imgs/common/dropdown.svg);
        position: relative;
        top: 5px;
    }
 }

 @media  (min-width: 580px) and (max-width: 1023px) {
    * {
        font-size: 10px;
    }
    .container {
        margin-top: 0px;
        max-width: 1167px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
    }
    
    /* слой 1 */
    .layoutTop {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        height: 50px;
    }
    
    .time {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }
    
    .time img {
        max-height: 20px;
        margin-right: 10px;
    }
    
    .time_txt {
        display: none;
    }
    
    
    
    .navigat {
        display: flex;
        flex-direction: row;
        align-items: center;
        line-height: 10px;
        gap: 15px;
        font-size: 10px;
    }
    
    a.refer {
        /* font-family: 'Inter'; */
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 20px;
        text-decoration: none;
        color: #505567 !important;
    }
    
    .w_dropdown {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: 0px;
    }
    
    .rightMenu {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 25px;
    }
    
    .contacts,
    .basket {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15px;
        line-height: 20px;
        max-height: 20px;
    }
    
    .basket p {
        cursor: pointer;
    }
    
    .contacts a,
    .basket a {
        max-height: 20px;
    }
    
    /* Слой 2 */
    
    nav.layoutMiddle {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        height: 80px;
    }
    
    .name,
    .search,
    .phone,
    .cardMenu,
    .number,
    .cart {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        line-height: 20px;
    }
    
    .title {
        margin-left: 20px;
        max-width: 124px;
    }
    
    .search {
        width: 44px;
        height: 44px;
        border: solid #D0D2D7 1px;
        border-radius: 60px;
    
        display: flex;
        align-items: center;
        justify-content: space-between;
    
        cursor: text;
    }
    
    .search p {
        margin-left: 20px;
        color: #7D818E;
        display: none;
    }
    
    .search img {
        margin-left: 15px;
        cursor: pointer;
    }
    
    .phone img.phonePic {
        margin-right: 15px;
        cursor: pointer;
    }
    
    .number {
        font-size: 10px;
        color: #222A46;
        font-weight: bold;
        display: none;
    }
    
    p.askCall {
        color: #E2195B;
        line-height: 20px;
        text-decoration: underline;
        cursor: pointer;
        display: none;
    }
    
    .cart {
        margin-right: 14px;
        margin-left: 20px;
    }
    
    .cartIcon {
        display: flex;
        align-items: center;
        position: relative;
        cursor: pointer;
    }
    
    
    .cartIcon img:last-child {
        position: absolute;
        top: -7px;
        right: -17px;
    }
    
    .cardMenu p {
        color: #E2195B;
        line-height: 22px;
        font-weight: bold;
    }
    .cardMenu img {
        cursor: pointer;
    }
    
    
    /* Слой 3 */
    .background_shadow {
        -webkit-box-shadow: 0px 9px 31px -5px rgba(34, 60, 80, 0.28);
        -moz-box-shadow: 0px 9px 31px -5px rgba(34, 60, 80, 0.28);
        box-shadow: 0px 9px 31px -5px rgba(34, 60, 80, 0.28);
    }
    
    nav.layoutBottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        height: 60px;
        gap: 5px;
    }
    
    .layoutBottom a{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 3px;
    }
    
    a.refer_bottom {
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 22px;
        text-decoration: none;
        font-weight: bold;
    }
    
    a.refer_bottom:first-child {
        text-transform: uppercase;
        color: #E2195B;
        margin-left: 10px;
    }
    
    a.refer_bottom:first-child::before {
        content: url(./imgs/layout_3/discount.svg);
        position: relative;
        left: -10px;
        top: 3px;
    }
    
    a.refer_bottom:nth-child(n+2):nth-child(-n+7)::after {
        content: url(./imgs/common/dropdown.svg);
        position: relative;
        top: 5px;
    }
 }

 @media  (max-width: 579px) {
    * {
        font-size: 15px;
    }

    .background {
        background-color: #ffffff;
        position: relative;
    }
    
    .layoutTop {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        height: 50px;
        display: none;
    }
    
    /* Слой 2 */
    
    nav.layoutMiddle {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        height: 80px;
    }
    
    .name{
        position: absolute;
        top: 10px;
        left: 15px;
    }

    .search,
    .phone,
    .cardMenu,
    .number,
    .cart {
        line-height: 20px;
        position: absolute;
        bottom: 15px;
    }

    .phone{
        left: 15px;
        bottom: 12px;
    }
    .search{
        left: 100px;
    }

    .cardMenu{
        right: 90px;
        bottom: 0px;
    }
    
    .title {
        margin-left: 20px;
        max-width: 124px;
    }
    
    .search {
        width: 110px;
        height: 44px;
        border: solid #D0D2D7 1px;
        border-radius: 60px;
    
        display: flex;
        align-items: center;
        justify-content: space-between;
    
        cursor: text;
    }
    
    .search p {
        margin-left: 20px;
        color: #7D818E;
        display: none;
    }
    
    .search img {
        margin-left: 15px;
        cursor: pointer;
    }
    
    .phone img.phonePic {
        margin-right: 15px;
        cursor: pointer;
    }
    
    .number {
        font-size: 10px;
        color: #222A46;
        font-weight: bold;
        display: none;
    }
    
    p.askCall {
        color: #E2195B;
        line-height: 20px;
        text-decoration: underline;
        cursor: pointer;
        display: none;
    }
    
    .cart {
        margin-right: 14px;
        margin-left: 20px;
    }
    
    .cartIcon {
        display: flex;
        align-items: center;
        position: relative;
        cursor: pointer;
    }
    
    
    .cartIcon img:last-child {
        position: absolute;
        top: -7px;
        right: -17px;
    }
    
    .cardMenu p {
        color: #E2195B;
        line-height: 22px;
        font-weight: bold;
        display: none;
    }
    .cardMenu img {
        cursor: pointer;
        
    }

    .heart_mobile {
        position: absolute;
        top: -8px;
        right: -27px;
        display: none;

    }

    /* Слой 3 */
    .background_shadow {

    }
    
    nav.layoutBottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        height: 60px;
        gap: 5px;
    }
    
    .layoutBottom a{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 3px;
    }
    
    a.refer_bottom {
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 22px;
        text-decoration: none;
        font-weight: bold;
        display: none;
    }
    
    a.refer_bottom:first-child {
        text-transform: uppercase;
        color: #E2195B;
        margin-left: 10px;
        position: absolute;
        display: block !important;
        top: 15px;
        right: 15px;
        min-height: 40px;
    }
    
    a.refer_bottom:first-child::before {
        content: url(./imgs/layout_3/discount.svg);
        position: relative;
        left: -10px;
        top: 3px;
    }
    
    a.refer_bottom:nth-child(n+2):nth-child(-n+7)::after {
        content: url(./imgs/common/dropdown.svg);
        position: relative;
        top: 5px;
    }
    
 }
